@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-custom-halftone: #EADDFF;
    --color-custom-primary: #F5EFFF;
    --color-custom-heading: #11111B;
    --color-custom-secondary: #9492B6;
    --color-custom-main: #853BFF;
    --color-custom-mainDark: #1C0E51;
    --color-custom-gray: #E2E2E2;
}

